QMessageBox {
    background-color: #171717;
}

QMessageBox QLabel {
    font-size: 13px;
    font-weight: bold;
    color: #b3c000;
    margin-bottom: 10px;
}

QMessageBox QPushButton {
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 5px 0;
}

QMessageBox QPushButton:hover {
    background-color: #090909;
    border-top: 1px solid #0078D4;
}
